#ifndef CONFIG_H
	#define CONFIG_H

//MAX PNG Slots available at SPIFF 
#define MAX_SLOTS 10

//WIFI
const char* SSID = "XXX";
const char* PSK = "XXX";

//Enable Password Auth for MQTT
#define MQTT_PASSWORD_AUTH
#define MQTT_PORT 8883
const char* MQTT_IDENT="matrixdps";
const char* MQTT_USER="";
const char* MQTT_PASSWORD="";
const char* MQTT_HOST="";
const char* MQTT_PREFIX="/office/matrixdps";

#endif